.cont {
    padding-top: 120px; /* Adjust based on your navbar height */
    background-color: #fbeaea;
  }

  .bg-contact100{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the background of the contact form */
  .wrap-contact100 {
    width: 70%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-size: cover;
    background-color: #fff; /* Fallback color */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

  }
  
  .contact100-form-title {
    font-size: 30px;
    color: #7c383e;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Input fields styling */
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input100 {
    font-size: 15px;
    color: #b86472;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: #fef5f5;
    border: 1px solid #7c383e;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .input100:focus {
    background-color: #fce1e1;
    border-color: #b86472;
    outline: none;
    box-shadow: 0 0 5px rgba(184, 100, 114, 0.8);
  }
  
  /* Hover effect for input fields */
  .input100:hover {
    background-color: #f3dcdc;
    border-color: #7c383e;
    box-shadow: 0 0 5px rgba(184, 100, 114, 0.5);
  }
  
  /* Textarea styling */
  textarea.input100 {
    height: 100px;
    resize: none;
  }
  
  /* Focus input styling */
  .focus-input100::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #b86472;
    transition: all 0.4s;
  }
  
  /* Icon styling */
  .symbol-input100 {
    font-size: 18px;
    color: #7c383e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    position: absolute;
    border-right: 1px solid #e6e6e6;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
  }
  
  /* Error message styling */
  .error-message {
    color: #e57373;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Button styling */
  .contact100-form-btn {
    font-size: 16px;
    color: #fff;
    background-color: #f38b84;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact100-form-btn:hover {
    background-color: #e57373;
  }
  
  /* Form container button */
  .container-contact100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  